%td= accounting.formatMoney(@model.variance(), {precision: 3, symbol: @app.currency.symbol })
%td= accounting.formatMoney(@model.variance() * 8765.81, {precision: 2, symbol: @app.currency.symbol })
%td= "#{@model.savings()}%"