%section#input-panel.green-section
  .container
    %form
      .platform-select
        %label{for: ""} Compare to
        %select{id: "platform-select", name: "platform"}
      .platform-select
        %label{for: ""} Currency
        %select{id: "currency-select", name: "currency"}
      .actions
        %a.btn.share-btn{href: "#"} Share
        %a.btn.reset-btn{href: "#"} Reset
      %table.main-features
        %tr
          %th{style: "width: 75px;"} # of VMs
          %th Operating System
          %th{style: "width: 235px;"} 
            Persistent Storage (EBS)
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Storage per VM"}}
          %th 
            Bandwidth
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Estimated outbound bandwidth usage"}}
          %th 
            Daily Snapshots
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Our standard storage includes 5 days of rolling VM snapshots; Premium includes 14 days at a secondary data center."}}
          %th 
            Match CPU/RAM Performance 
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Match CenturyLink VM Performance vs competitors based on CloudHarmony.com benchmarks."}}
          %th 
            Match IOPS Performance 
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Match CenturyLink VM IOPS performance vs competitors based on CloudHarmony.com benchmarks."}}
          %th{style: "width: 280px;"} IOPS Manual Entry
          %th Provisioned IOPS
        %tr
          %td{style: "width: 65px;"}
            %input.number{value: "", name: "quantity", type:"text"}
          %td
            %select{name: "os"}
              %option{value: "linux"} Linux
              %option{value: "windows"} Windows
              %option{value: "redhat"} Red Hat
          %td 
            %input.number{name: "storage", value: "", type:"text"}
            (GB)
          %td.bandwidth-field
            %input.number{name: "bandwidth", value: "", type:"text"}
            (GB)
          %td
            %select{name: "snapshots"}
              %option 5
              %option 14
          %td 
            %input{type: "checkbox", name: "matchCPU"}
          %td 
            %input{type: "checkbox", name: "matchIOPS"}
          %td 
            %input.number{name: "manual-iops", type:"text"}
          %td
            %span.provisioned-iops 
            %input.number{type: "hidden", name: "iops", type:"text"}

      .additional-features
        %h4 AWS Add-Ons (equivalent features built-in CenturyLink Cloud)

%section#share-panel.share-section
  .container.share
    %h3 Share
    %p Your estimate can be shared with this url:
    %input.share-link{type: "text"} 
    %br
    %br
    %a.btn.btn-inverse.ok-btn Ok 

= image_tag "/images/spinner.gif", class: "spinner"



.container.main-container
  
  .calculator-section

    #platform-products-table.results-table{style: "width: 340px"}
      .results-table__header{style: "width: 340px"}
        = image_tag "aws-logo.png"
      %table
        %tr
          %th.left-align Service
          %th CPU
          %th RAM
          %th Hourly

    #century-link-products-table.results-table{style: "width: 290px"}
      .results-table__header{style: "width: 290px"}
        = image_tag "cl-black-logo.png"
        %p.description resource allocation equivalent
      %table
        %tr
          %th CPU
          %th RAM
          %th Hourly
 
    #variances-table.results-table.results-table--variance{style: "width: 312px"}
      .results-table__header{style: "width: 312px"}
        Variance
      %table
        %tr
          %th Hourly
          %th Yearly
          %th % Savings

  #included.calculator-section
    %p 
      Assumptions for calculations:
      %br
      730 hours in a month
      %br
      30.42 days in a month
      %br
      4.35 weeks in a month
    
      %p
      <strong>Total Cost of Ownership Tool Description:</strong> Tool compares the estimated usage charges for CenturyLink Cloud services and the listed third party's cloud services on an hourly and yearly basis from the information you select.  Changes to the selected information will result in changes to the tool's provided report. Your monthly recurring charges for these services are based on your actual usage of such services and may vary from the tool's estimate. All listed charges exclude applicable taxes, fees, and surcharges. This tool is provided for illustration purposes only and does not constitute an offer or guarantee of any services or charges. An actual quote for CenturyLink Cloud services is required to purchase such services and will be based on a detailed analysis of your business. All performance data and pricing is provided from CloudHarmony via publicly-available, independent data posted to <a href="https://www.cloudharmony.com/cloudscores">https://www.cloudharmony.com/cloudscores</a> as of April 2014. Listed add-on services and accompanying pricing for third party cloud services are based on publicly-available data listed on that third party's website as of April 2014.
      %p
      All services may not be available everywhere and additional restrictions may apply. CenturyLink may change or cancel services or substitute similar services at its sole discretion without notice. Offers, plans, service capabilities, and listed charges are subject to change without notice and may vary by area.  Contact CenturyLink for details.
      %p
      %a{href: "http://www.centurylinkcloud.com/legal"} Legal & Privacy Policy


