%section#input-panel.green-section
  .container
    %form
      .platform-select
        %label{for: ""} Compare to
        %select{id: "platform-select", name: "platform"}
      .actions
        %a.btn.share-btn{href: "#"} Share
        %a.btn.reset-btn{href: "#"} Reset
      %table.main-features
        %tr
          %th{style: "width: 75px;"} # of VMs
          %th Operating System
          %th{style: "width: 235px;"} 
            Persistent Storage (EBS)
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Storage per VM"}}
          %th 
            Bandwidth
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Estimated outbound bandwidth usage"}}
          %th 
            Daily Snapshots
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Our standard storage includes 5 days of rolling VM snapshots; Premium includes 14 days at a secondary data center."}}
          %th 
            Match CPU/RAM Performance 
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Match CenturyLink VM Performance vs competitors based on CloudHarmony.com benchmarks."}}
          %th 
            Match IOPS Performance 
            .tooltip-wrapper
              %a.has-tooltip{href:"#", data: {toggle: "tooltip", title: "Match CenturyLink VM IOPS performance vs competitors based on CloudHarmony.com benchmarks."}}
          %th{style: "width: 280px;"} IOPS Manual Entry
          %th Provisioned IOPS
        %tr
          %td{style: "width: 65px;"}
            %input.number{value: "", name: "quantity"}
          %td
            %select{name: "os"}
              %option{value: "linux"} Linux
              %option{value: "windows"} Windows
              %option{value: "redhat"} Red Hat
          %td 
            %input.number{name: "storage", value: ""}
            (GB)
          %td.bandwidth-field
            %input.number{name: "bandwidth", value: ""}
            (GB)
          %td
            %select{name: "snapshots"}
              %option 5
              %option 14
          %td 
            %input{type: "checkbox", name: "matchCPU"}
          %td 
            %input{type: "checkbox", name: "matchIOPS"}
          %td 
            %input.number{name: "manual-iops"}
          %td
            %span.provisioned-iops 
            %input.number{type: "hidden", name: "iops"}

      .additional-features
        %h4 AWS Add-Ons (equivalent features built-in CenturyLink Cloud)

%section#share-panel.share-section
  .container.share
    %h3 Share
    %p Your estimate can be shared with this url:
    %input.share-link{type: "text"} 
    %br
    %br
    %a.btn.btn-inverse.ok-btn Ok 

= image_tag "/images/spinner.gif", class: "spinner"



.container.main-container
  
  .calculator-section

    #platform-products-table.results-table{style: "width: 340px"}
      .results-table__header{style: "width: 340px"}
        = image_tag "aws-logo.png"
      %table
        %tr
          %th.left-align Service
          %th CPU
          %th RAM
          %th Hourly

    #century-link-products-table.results-table{style: "width: 290px"}
      .results-table__header{style: "width: 290px"}
        = image_tag "cl-black-logo.png"
        %p.description resource allocation equivalent
      %table
        %tr
          %th CPU
          %th RAM
          %th Hourly
 
    #variances-table.results-table.results-table--variance{style: "width: 312px"}
      .results-table__header{style: "width: 312px"}
        Variance
      %table
        %tr
          %th Hourly
          %th Yearly
          %th % Savings

  #included.calculator-section
    %p 
      Assumptions for calculations:
      %br
      730 hours in a month
      %br
      30.42 days in a month
      %br
      4.35 weeks in a month
      %br
      :markdown
        Performance Metrics from [CloudHarmony.com](http://www.cloudharmony.com) April 2014
    %p
      This Estimator is currently in Beta, and provides an estimate of usage charges for CenturyLink Cloud services based on information you provide.
      Monthly charges will be based on your actual usage of CenturyLink Cloud services, and may vary from the estimates the Estimator has provided.
      %br
      %a{href: "http://www.centurylinkcloud.com/legal"} Legal & Privacy Policy


